html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size:large;
    margin: 0.5;
    padding: 0;
}

main{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 70%;
    border-radius: 5px;
}
main > header{
    border: 1px solid #ddd;
    text-align: center;
  
}
input{
    width: 70px;
    margin: 1%;
}
.entrada{
    text-align: center;
    margin:0% 1.0%;
}
table{
    border-collapse: collapse;
    font-size: 121%;
    width: 100%;
}
.operacao{
    border: 1px solid black;
    border: 1px solid #ddd;
    text-align: center;
}
footer{
    text-align: center;
    font-size: 60%;
}
@media screen and (min-width:469px){
    main > header > h1,main > header > p{
        text-align: left;
        margin-left: 12%;
    }
    table{
        font-size: 110%;
    }
    footer{
        font-size: 80%;
    }
    
}
@media  screen and (min-width:770px) {
    .entrada{
        font-size: 150%;
    }
    table{
        font-size: 150%;
    }
    
}

@media screen and (min-width:969px){
    table{
        font-size: 170%;
        width: 70%;
        margin: 0% 15%;
    }

    footer{
        font-size: 100%;
    }

    
}
    

