html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: larger;
    font-family: Arial, sans-serif;
    margin: 0.5;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #f2f2f2;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 80%;
    border-radius: 5px;
   
    margin: 0 auto;
}
main > header{
   width: 96%;
   margin: 10px ;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.operacao{
    border: 1px solid black;
    
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

input{
    width: 70px;
    margin: 1%;
}
 /* Media query para telas menores */
 @media (max-width: 768px) {
    /* Ajustes para telas menores */
    main {
      padding: 10px;
    }
    table {
      font-size: 0.9em;
    }
  }